In [1]:
#import this before other imports
from sklearnex import patch_sklearn,unpatch_sklearn

patch_sklearn()
#unpatch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

In [3]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
from urllib.parse import urlparse
from tld import get_tld
import re
from sklearn.model_selection import train_test_split
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.multiclass import OneVsRestClassifier
from sklearn.multiclass import OneVsOneClassifier
from sklearn.model_selection import cross_validate
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.metrics import f1_score,log_loss,precision_score,recall_score,make_scorer,accuracy_score
import json

In [13]:
l1 = pd.read_csv("FinalDataset/URL/Benign_list_big_final.csv", header=None)
l1

                                                       0
0      http://1337x.to/torrent/1048648/American-Snipe...
1      http://1337x.to/torrent/1110018/Blackhat-2015-...
2      http://1337x.to/torrent/1122940/Blackhat-2015-...
3      http://1337x.to/torrent/1124395/Fast-and-Furio...
4      http://1337x.to/torrent/1145504/Avengers-Age-o...
...                                                  ...
35373  https://lastpass.com/signup2.php?ac=1&from_uri...
35374  https://lastpass.com/signup2.php?ac=1&from_uri...
35375  https://lastpass.com/signup2.php?ac=1&from_uri...
35376  https://lastpass.com/signup2.php?ac=1&from_uri...
35377  https://asana.com/guide/videos/%22//fast.wisti...

[35378 rows x 1 columns]

In [14]:
l1['result'] = [0 for _ in range(l1.shape[0])]
l1

                                                       0  result
0      http://1337x.to/torrent/1048648/American-Snipe...       0
1      http://1337x.to/torrent/1110018/Blackhat-2015-...       0
2      http://1337x.to/torrent/1122940/Blackhat-2015-...       0
3      http://1337x.to/torrent/1124395/Fast-and-Furio...       0
4      http://1337x.to/torrent/1145504/Avengers-Age-o...       0
...                                                  ...     ...
35373  https://lastpass.com/signup2.php?ac=1&from_uri...       0
35374  https://lastpass.com/signup2.php?ac=1&from_uri...       0
35375  https://lastpass.com/signup2.php?ac=1&from_uri...       0
35376  https://lastpass.com/signup2.php?ac=1&from_uri...       0
35377  https://asana.com/guide/videos/%22//fast.wisti...       0

[35378 rows x 2 columns]

In [15]:
l2 = pd.read_csv("FinalDataset/URL/DefacementSitesURLFiltered.csv", header=None)
l2['result'] = [1 for _ in range(l2.shape[0])]
l3 = pd.read_csv("FinalDataset/URL/Malware_dataset.csv", header=None)
l3['result'] = [1 for _ in range(l3.shape[0])]
l4 = pd.read_csv("FinalDataset/URL/phishing_dataset.csv", header=None)
l4['result'] = [1 for _ in range(l4.shape[0])]
l5 = pd.read_csv("FinalDataset/URL/spam_dataset.csv", header=None)
l5['result'] = [1 for _ in range(l5.shape[0])]

In [16]:
data = [l1,l2,l3,l4,l5]
dataset = pd.concat(data, ignore_index=True)
dataset = dataset.rename({0: 'url'}, axis=1)
dataset

                                                      url  result
0       http://1337x.to/torrent/1048648/American-Snipe...       0
1       http://1337x.to/torrent/1110018/Blackhat-2015-...       0
2       http://1337x.to/torrent/1122940/Blackhat-2015-...       0
3       http://1337x.to/torrent/1124395/Fast-and-Furio...       0
4       http://1337x.to/torrent/1145504/Avengers-Age-o...       0
...                                                   ...     ...
165361    http://archive.salisburyjournal.co.uk/2001/3/7/       1
165362  http://astore.amazon.co.uk/allezvinsfrenchr/de...       1
165363  http://archive.thisischeshire.co.uk/2000/1/14/...       1
165364  http://applerugs.co.uk/rugs/product_info.php?p...       1
165365  http://allgirltogaparty.co.uk/gallery2/main.ph...       1

[165366 rows x 2 columns]

In [17]:
vectorizer = TfidfVectorizer(analyzer='word')
x = vectorizer.fit_transform(dataset['url'])
x.shape

(165366, 122950)

In [18]:
lr = SVC()

In [19]:
scoring = {'accuracy': make_scorer(accuracy_score),
           'precision': make_scorer(precision_score),
           'recall': make_scorer(recall_score),
           'f1': make_scorer(f1_score),
           'log_loss': make_scorer(log_loss)}

In [20]:
scores = cross_validate(lr, x, dataset['result'], cv=5,scoring=scoring,return_train_score=True)
scores

{'fit_time': array([66.61062431, 62.15084171, 69.57656884, 74.41241932, 61.38826394]),
 'score_time': array([6.54013491, 6.56107187, 6.61904216, 7.13683081, 5.7582829 ]),
 'test_accuracy': array([0.99250166, 0.98473075, 0.99083845, 0.97269676, 0.83596892]),
 'train_accuracy': array([0.99992441, 0.99991685, 0.99993197, 0.99998488, 0.99993953]),
 'test_precision': array([0.99431775, 0.99341902, 0.99918402, 0.99952227, 0.99902974]),
 'train_precision': array([0.99995192, 0.9999423 , 0.99996153, 0.99998077, 0.99997115]),
 'test_recall': array([0.99615355, 0.9871139 , 0.98915259, 0.96572813, 0.79209939]),
 'train_recall': array([0.99995192, 0.99995192, 0.99995192, 1.        , 0.99995192]),
 'test_f1': array([0.9952348 , 0.99025642, 0.994143  , 0.98233464, 0.88361116]),
 'train_f1': array([0.99995192, 0.99994711, 0.99995673, 0.99999038, 0.99996153]),
 'test_log_loss': array([0.25898697, 0.52738542, 0.31642929, 0.94302073, 5.66543337]),
 'train_log_loss': array([0.00261083, 0.00287189, 0.00234973, 0.00052217, 0.00208864])}

In [21]:
print("The Fit Time is: ",scores['fit_time'].mean())
print("\n")
print("The Score Time is: ",scores['score_time'].mean())
print("\n")
print("The Train Accuracy score is: ",scores['train_accuracy'].mean())
print("\n")
print("The Train F1 score is: ",scores['train_f1'].mean())
print("\n")
print("The Train Precision score is: ",scores['train_precision'].mean())
print("\n")
print("The Train Recall score is: ",scores['train_recall'].mean())
print("\n")
print("The Train Log Loss is: ",scores['train_log_loss'].mean())
print("\n")
print("The Test Accuracy score is: ",scores['test_accuracy'].mean())
print("\n")
print("The Test F1 score is: ",scores['test_f1'].mean())
print("\n")
print("The Test Precision score is: ",scores['test_precision'].mean())
print("\n")
print("The Test Recall score is: ",scores['test_recall'].mean())
print("\n")
print("The Test Log Loss is: ",scores['test_log_loss'].mean())
print("\n")

The Fit Time is:  66.82774362564086


The Score Time is:  6.523072528839111


The Train Accuracy score is:  0.9999395280542578


The Train F1 score is:  0.9999615349016648


The Train Precision score is:  0.9999615349478969


The Train Recall score is:  0.9999615349479031


The Train Log Loss is:  0.0020886511887620346


The Test Accuracy score is:  0.955347307461295


The Test F1 score is:  0.9691160067539946


The Test Precision score is:  0.9970945591147252


The Test Recall score is:  0.9460495135509831


The Test Log Loss is:  1.5422511569177397

## Multi-Class Classification

In [4]:
l2=pd.read_csv("FinalDataset/URL/DefacementSitesURLFiltered.csv", header=None)
l2['result'] = [1 for _ in range(l2.shape[0])]
l2['type'] = 'Defacement'
l2

                                                       0  result        type
0            http://www.sinduscongoias.com.br/index.html       1  Defacement
1      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
2      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
3      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
4      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
...                                                  ...     ...         ...
96452  http://www.laurenzano.com.ar/index.php?option=...       1  Defacement
96453  http://www.laurenzano.com.ar/templates/laurenz...       1  Defacement
96454  http://www.laurenzano.com.ar/templates/laurenz...       1  Defacement
96455                 http://www.laurenzano.com.ar/x.txt       1  Defacement
96456          http://www.emotionalassets.com/sejeal.jpg       1  Defacement

[96457 rows x 3 columns]

In [5]:
l3=pd.read_csv("FinalDataset/URL/Malware_dataset.csv", header=None)
l3['result'] = [2 for _ in range(l3.shape[0])]
l3['type'] = 'Malware'
l3

                                                       0  result     type
0      http://gzzax.livechatvalue.com/chat/chatClient...       2  Malware
1      http://gzzax.livechatvalue.com/chat/chatClient...       2  Malware
2      http://gzzax.livechatvalue.com/chat/chatClient...       2  Malware
3      http://gzzax.livechatvalue.com/chat/chatClient...       2  Malware
4      http://mtsx.com.cn/UploadFiles/2011-08/admin/%...       2  Malware
...                                                  ...     ...      ...
11561  http://www.plastischechirurgie.net/gesicht/fac...       2  Malware
11562  http://www.plastischechirurgie.net/haartranspl...       2  Malware
11563  http://www.plastischechirurgie.net/korper/gyna...       2  Malware
11564  http://dl.get1993desk.com/n/50517366/RealPlaye...       2  Malware
11565  http://fb.com.accounts.login.userid.492739.fbs...       2  Malware

[11566 rows x 3 columns]

In [6]:
l4=pd.read_csv("FinalDataset/URL/phishing_dataset.csv", header=None)
l4['result'] = [3 for _ in range(l4.shape[0])]
l4['type'] = 'Phishing'
l4

                                                      0  result      type
0     http://v2.email-marketing.adminsimple.com/trac...       3  Phishing
1     http://bid.openx.net/json?amp;amp;amp;amp;cid;...       3  Phishing
2     http://webmail2.centurytel.net/hwebmail/servic...       3  Phishing
3     http://www.google.com.ng/imgres?imgurl=http://...       3  Phishing
4     http://webmail2.centurytel.net/hwebmail/servic...       3  Phishing
...                                                 ...     ...       ...
9960              http://highedgesolar.com/nw/includes/       3  Phishing
9961              http://jimfangimporters.yolasite.com/       3  Phishing
9962              http://liuheng.chengxuren.com/Images/       3  Phishing
9963              http://mcnaotempreco.net/site/portal/       3  Phishing
9964              http://missionaryfilms.org/index.html       3  Phishing

[9965 rows x 3 columns]

In [7]:
l5=pd.read_csv("FinalDataset/URL/spam_dataset.csv", header=None)
l5['result'] = [4 for _ in range(l5.shape[0])]
l5['type'] = 'Spam'
l5

                                                       0  result  type
0      http://astore.amazon.co.uk/allezvinsfrenchr/de...       4  Spam
1      http://archive.salisburyjournal.co.uk/2007/3/6...       4  Spam
2         http://appbasic.jettons.co.uk/links/index.html       4  Spam
3      http://archive.yorkpress.co.uk/2003/11/6/25684...       4  Spam
4      http://acard4u.co.uk/product_reviews.php?cPath...       4  Spam
...                                                  ...     ...   ...
11995    http://archive.salisburyjournal.co.uk/2001/3/7/       4  Spam
11996  http://astore.amazon.co.uk/allezvinsfrenchr/de...       4  Spam
11997  http://archive.thisischeshire.co.uk/2000/1/14/...       4  Spam
11998  http://applerugs.co.uk/rugs/product_info.php?p...       4  Spam
11999  http://allgirltogaparty.co.uk/gallery2/main.ph...       4  Spam

[12000 rows x 3 columns]

In [8]:
data=[l2,l3,l4,l5]
urls = pd.concat(data)
urls = urls.rename({0: 'url'}, axis=1)
urls
urls

                                                     url  result        type
0            http://www.sinduscongoias.com.br/index.html       1  Defacement
1      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
2      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
3      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
4      http://www.sinduscongoias.com.br/index.php/ins...       1  Defacement
...                                                  ...     ...         ...
11995    http://archive.salisburyjournal.co.uk/2001/3/7/       4        Spam
11996  http://astore.amazon.co.uk/allezvinsfrenchr/de...       4        Spam
11997  http://archive.thisischeshire.co.uk/2000/1/14/...       4        Spam
11998  http://applerugs.co.uk/rugs/product_info.php?p...       4        Spam
11999  http://allgirltogaparty.co.uk/gallery2/main.ph...       4        Spam

[129988 rows x 3 columns]

In [9]:
vectorizer = TfidfVectorizer(analyzer='word')
x = vectorizer.fit_transform(urls['url'])
x.shape

(129988, 77855)

In [10]:
#lr = RandomForestClassifier()
clf = SVC()

In [11]:
scoring = {'accuracy': make_scorer(accuracy_score),
           'precision': make_scorer(precision_score, average = 'weighted'),
           'recall': make_scorer(recall_score, average = 'weighted'),
           'f1': make_scorer(f1_score, average = 'weighted')}

In [12]:
scores = cross_validate(clf, x, np.array(urls['result'].tolist()), cv=5,scoring=scoring,return_train_score=True)
scores

{'fit_time': array([61.40350342, 55.21941066, 54.4388814 , 61.3054471 , 61.87082052]),
 'score_time': array([9.16090059, 8.50328135, 9.36386466, 8.56507635, 8.20537305]),
 'test_accuracy': array([0.92445573, 0.98607585, 0.97249788, 0.95941839, 0.90937416]),
 'train_accuracy': array([0.99956727, 0.99960573, 0.9996442 , 0.99965382, 0.99983652]),
 'test_precision': array([0.94002346, 0.98597863, 0.97229965, 0.95889428, 0.902169  ]),
 'train_precision': array([0.9995675 , 0.99960594, 0.99964447, 0.99965392, 0.9998365 ]),
 'test_recall': array([0.92445573, 0.98607585, 0.97249788, 0.95941839, 0.90937416]),
 'train_recall': array([0.99956727, 0.99960573, 0.9996442 , 0.99965382, 0.99983652]),
 'test_f1': array([0.92870728, 0.9860007 , 0.97200541, 0.95726311, 0.89809977]),
 'train_f1': array([0.99956721, 0.99960569, 0.99964417, 0.99965377, 0.99983651])}

In [13]:
print("The Fit Time is: ",scores['fit_time'].mean())
print("\n")
print("The Score Time is: ",scores['score_time'].mean())
print("\n")
print("The Train Accuracy score is: ",scores['train_accuracy'].mean())
print("\n")
print("The Train F1 score is: ",scores['train_f1'].mean())
print("\n")
print("The Train Precision score is: ",scores['train_precision'].mean())
print("\n")
print("The Train Recall score is: ",scores['train_recall'].mean())
print("\n")
print("The Test Accuracy score is: ",scores['test_accuracy'].mean())
print("\n")
print("The Test F1 score is: ",scores['test_f1'].mean())
print("\n")
print("The Test Precision score is: ",scores['test_precision'].mean())
print("\n")
print("The Test Recall score is: ",scores['test_recall'].mean())
print("\n")

The Fit Time is:  58.847612619400024


The Score Time is:  8.759699201583862


The Train Accuracy score is:  0.9996615068942388


The Train F1 score is:  0.9996614700414161


The Train Precision score is:  0.999661667276255


The Train Recall score is:  0.9996615068942388


The Test Accuracy score is:  0.9503644033583581


The Test F1 score is:  0.9484152550082822


The Test Precision score is:  0.9518730037451378


The Test Recall score is:  0.9503644033583581